<app-edit-profile  [data]="profile" *ngIf="edit" (reInit)="reloadPage()" (close)="showEdit()"></app-edit-profile>
<app-nav></app-nav>
<div class="header__wrapper">
  <header></header>
  <div class="cols__container">
    <div class="left__col">
      <div class="img__container">
        <img src="{{ this.profile.img }}" alt="{{ this.profile.username }}" />
        <span></span>
      </div>
      <h2>{{ this.profile.username }}</h2>
      <p>Web Developer</p>
      <p>ivomastrangelo12@gmail.com</p>

      <ul class="about">
        <li><span>4,073</span>Followers</li>
        <li><span>322</span>Following</li>
        <li><span>23</span>Products</li>
      </ul>

      <div class="content">
        <p>
          {{ this.profile.description }}
        </p>

        <ul>
          <li><i class="fab fa-twitter"></i></li>
          <i class="fab fa-pinterest"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-dribbble"></i>
        </ul>
      </div>
    </div>
    <div class="right__col">
      <nav>
        <ul>
          <li><a href="">Products</a></li>
        </ul>
        <div>
          <button class="btn btn-secondary" (click)="showEdit()">Edit</button>
          <button class="btn btn-danger" (click)="logOut()">Log Out</button>
        </div>
      </nav>

      <div class="photos">
        <app-card-profile (reInit)="reloadPage()" (open)="openEditor()" [data]="userCard" *ngFor="let userCard of userCards"></app-card-profile>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
