<app-nav></app-nav>
<div class="d-flex justify-content-center align-items-center mt-5">
  <form [formGroup]="form" class="p-2">
    <div class="register text-center">
      <h1>Register</h1>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="user" autocomplete="off" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          autocomplete="off"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button *ngIf="!load"
        mat-raised-button
        color="primary"
        (click)="register()"
        class="text-center"
      >
        Register
      </button>
      <mat-spinner *ngIf="load" diameter="40" class="spinner"></mat-spinner>

      <div class="mt-4">
        <p>
          If you already logged
          <span
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            class="registerPath p-2"
            >click here!</span
          >
        </p>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
