<div class="loadingScreen" #loadingScreen>
    <app-loading-screen></app-loading-screen>
  </div>
  
  <div *ngIf="showMain">
    <app-nav></app-nav>
    <div class="main container-fluid">
      <div class="main-section__grid row">
        <app-categories-list
          class="col-xl-2 col-lg-2 col-md-12"
        ></app-categories-list>
        <app-cards-grid class="col-xl-10 col-lg-10 col-md-12"></app-cards-grid>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  
  <!-- Error page -->
  
  <div class="errorPage" *ngIf="showError">
    <app-nav></app-nav>
    <div class="errorPage-Message">
      <span>An error has ocurred...</span>
      <span *ngIf="!logoutError">Please try again in a few minutes</span>
      <span *ngIf="logoutError">Error 401(Unauthorized).Please log out, then login again.</span>
    </div>
    <app-footer></app-footer>
  </div>
  