.nav-searcher {
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  width: 600px;
}

input {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  height: 39px;
  padding: 7px 60px 9px 15px;
  border-radius: 30px;
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
}
