<div>
    <div class="nav-searcher">
      <form>
        <input
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="searchText"
          type="text"
          placeholder="Search by name or categorie..."
        />
        <button>
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <div class="main-cards__grid">

      <app-card
        [data]="merchCard"
        *ngFor="let merchCard of !searchText ? merchCards : onSearchProduct"
      ></app-card>
    </div>
  </div>
  