mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999999;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.logo {
  cursor: pointer;
}
.navBrand-menu {
  display: flex;
  margin: 0;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.nav-item i {
  font-size: 20px;
  color: white;
  padding: 2px;
}
.nav-item div {
  font-size: 10px;
  position: relative;
  right: 12px;
  top: 9px;
}
