<div class="containera">
    <app-nav class="main-nav"></app-nav>
    <div class="new-upload__container">
      <div class="new-upload__uploadForm">
        <h2>New Product</h2>
        <p>This will be deleted when you close the application.</p>
        <form class="uploadForm" [formGroup]="form">
          <div class="uploadForm-field__container">
            <div class="uploadForm-field">
              <p>IMG by URL</p>
              <input
                type="url"
                required
                formControlName="productImg"
                bindon-ngModel="productImg"
              />
            </div>
            <div class="uploadForm-field">
              <p>Title</p>
              <input
                type="text"
                required
                formControlName="productTitle"
                bindon-ngModel="productTitle"
              />
            </div>
          </div>
  
          <div class="uploadForm-field__container">
            <div class="uploadForm-field">
              <p>Categorie</p>
              <select
                formControlName="productCategorie"
                bindon-ngModel="productCategorie"
              >
                <option>Supermarket</option>
                <option>Technology</option>
                <option>Home and furnitures</option>
                <option>Clothes</option>
              </select>
            </div>
            <div class="uploadForm-field uploadForm-field__price">
              <p>Price</p>
              <input
                type="number"
                required
                formControlName="productPrice"
                bindon-ngModel="productPrice"
              />
            </div>
          </div>
  
          <div class="uploadForm-field uploadForm-field__description">
            <p>Description</p>
            <textarea
              type="text"
              required
              formControlName="productDescription"
              bindon-ngModel="productDescription"
              maxlength="50"
              required
              rows="3"
              cols="10"
            ></textarea>
          </div>
          <button class="uploadForm-btn" (click)="uploadMerchProduct()">
            Submit
          </button>
        </form>
      </div>
      <div class="complete-card">
        <div class="product-card">
          <div class="badge">New Product</div>
          <div class="product-tumb">
            <img src="{{ productImg }}" />
          </div>
          <div class="product-details">
            <div style="display: flex; justify-content: space-between">
              <span class="product-category">{{ productCategorie }}</span>
              <div class="product-links">
                <a><i class="fa fa-heart"></i></a>
                <a><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
            <div style="display: flex; justify-content: space-between">
              <h4>
                <a class="product-details__title">{{ productTitle }}</a>
              </h4>
              <div class="product-price">
                <small>${{ productPrice }}</small>
              </div>
            </div>
            <div class="product-detail__invisible">
              <p>{{ productDescription }}</p>
              <div class="product-bottom__details"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  