input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}



/* card */
/*  */

.product-card {
  box-shadow: 0 2px 7px #dfdfdf;
  cursor: pointer;
}
.product-card:hover {
  box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.product-tumb {
  height: 200px;
  background: #f0f0f0;
}
.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}
.product-details {
  padding: 30px;
}
.product-category {
  font-size: 15px;
  font-weight: 700;
  color: grey;
}
.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.product-details h4 a:hover {
  color: red;
}
.product-details p {
  width: 240px;
  height: 44px;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}
.product-bottom__details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.product-bottom__details div {
  float: left;
  width: 50%;
}
.product-price {
  font-size: 18px;
  color: red;
  font-weight: 600;
}
.product-price small {
  font-size: 80%;
  font-weight: 400;
  display: inline;
  margin-right: 5px;
}
.product-links {
  text-align: right;
}
.product-links a {
  color: #e1e1e1;
  font-size: 17px;
  cursor: pointer;
}
.product-links a:hover {
  color: red;
}

/* upload form */
.uploadForm-field p {
  font-weight: 600;
}

textarea {
  min-height: 100px;
  min-width: 300px;
}
