<div style="background-color: rgb(230, 230, 230, 0.6)">
  <div class="pt-4 pb-4 d-flex justify-content-evenly flex-wrap">
    <div class="bg-white text-center p-4">
      <h2 class="bg-success text-white">New Product</h2>
      <form [formGroup]="form">
        <div>
          <div class="uploadForm-field">
            <p>IMG by URL</p>
            <input
              type="url"
              required
              formControlName="productImg"
              bindon-ngModel="productImg"
              class="form-control"
            />
          </div>
          <div class="uploadForm-field">
            <p>Title</p>
            <input
              type="text"
              required
              formControlName="productTitle"
              bindon-ngModel="productTitle"
              class="form-control"
            />
          </div>
        </div>

        <div>
          <div class="uploadForm-field">
            <p>Category</p>
            <select
              formControlName="productCategory"
              bindon-ngModel="productCategory"
              class="form-select"
            >
              <option>supermarket</option>
              <option>technology</option>
              <option>home and furnitures</option>
              <option>clothes</option>
            </select>
          </div>
          <div>
            <p>Price</p>
            <input
              type="number"
              required
              formControlName="productPrice"
              bindon-ngModel="productPrice"
              class="form-control"
            />
          </div>
        </div>

        <div >
          <p>Description</p>
          <textarea
            class="form-control"
            type="text"
            required
            formControlName="productDescription"
            bindon-ngModel="productDescription"
            maxlength="50"
            required
            rows="3"
            cols="10"
          ></textarea>
        </div>
        <button class="btn btn-success mt-2" (click)="upload()">Submit</button>
      </form>
    </div>
    <div>
      <div class="product-card bg-white">
        <div class="product-tumb d-flex justify-content-center align-items-center" >
          <img src="{{ productImg }}" />
        </div>
        <div class="product-details">
          <div style="display: flex; justify-content: space-between">
            <span class="product-category mb-3">{{ productCategory }}</span>
            <div class="product-links">
              <a><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          <div style="display: flex; justify-content: space-between">
            <h4>
              <a >{{ productTitle }}</a>
            </h4>
            <div>
              <small>${{ productPrice }}</small>
            </div>
          </div>
          <div >
            <p>{{ productDescription }}</p>
            <div class="product-bottom__details"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
