<footer>
    <div class="grupo-1">
      <div class="box">
        <figure>
          <span>Ecommerce-Angular App</span>
        </figure>
      </div>
      <div class="box">
        <h3>About us</h3>
        <p>
          In this Aplication you can login,register,search products by categorie
          or name ,upload new products,delete the ones you upload and navigate between the components.
        </p>
        <p>This application has been developed by Ivo Valentin Mastrangelo</p>
      </div>
      <div class="box">
        <h3>Contact Me</h3>
        <a href ="https://www.linkedin.com/in/ivo-valentin-mastrangelo-42270521b/" target="_blank"> <i class="fa fa-linkedin-square"></i></a>
        <a href="https://github.com/IvoVM" target="_blank"> <i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="grupo-2">
      <small
        >&copy: 2022 <b>Ivo Mastrangelo</b> - All rights reserved.</small
      >
    </div>
  </footer>
  