<div class="wrapper">
  <h1>Shopping Cart</h1>
  <div class="project">
    <div class="shop">
      <div class="box" *ngFor="let item of products">
        <img src="{{ this.item.img }}" />
        <div class="content">
          <h3>{{ this.item.title }}</h3>
          <h4>Price: ${{ this.item.price }}</h4>
          <p class="btn-area" (click)="removeItem(item)">
            <i aria-hidden="true" class="fa fa-trash"></i>
            <span class="btn2">Remove</span>
          </p>
        </div>
      </div>
    </div>
    <div class="right-bar">
      <p>
        <span>Subtotal</span> <span>$0</span>
      </p>
      <hr />
      <p>
        <span>Tax (5%)</span> <span>$0</span>
      </p>
      <hr />
      <p><span>Shipping</span> <span>$0</span></p>
      <hr />
      <p>
        <span>Total</span> <span>$0</span>
      </p>
      <a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
    </div>
  </div>
</div>
