<div class="categories-list">
    <h2>Categories</h2>
    <ul>
      <li [routerLink]="['/category','supermarket']">Supermarket<i class="fa fa-shopping-basket"></i></li>
      <li [routerLink]="['/category','technology']">Technology<i class="fa fa-desktop"></i></li>
      <li [routerLink]="['/category','clothes']">Clothes<i class="fa-solid fa-shirt"></i></li>
      <li [routerLink]="['/category','home-and-furnitures']">Home and furnitures<i class="fa-solid fa-house-chimney"></i></li>
    </ul>
  </div>
  